footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: var(--bg-footer);
  border-radius: 10px;
  transition: background-color 1s ease;
}

footer a {
  color: var(--light-text-color);
  text-decoration: none;
}